<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fourfaith.sysManage.dao.SysUserFactorMapper" >
  <resultMap id="BaseResultMap" type="com.fourfaith.sysManage.model.SysUserFactor" >
    <id column="Id" property="id" jdbcType="CHAR" />
    <result column="EnterpriseId" property="enterpriseid" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="VARCHAR" />
    <result column="Factor" property="factor" jdbcType="VARCHAR" />
    <result column="OrderNum" property="ordernum" jdbcType="INTEGER" />
    <result column="TM" property="tm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, EnterpriseId, UserId, Factor, OrderNum, TM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SysUserFactor
    where Id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SysUserFactor
    where Id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.fourfaith.sysManage.model.SysUserFactor" >
    insert into SysUserFactor (Id, EnterpriseId, UserId, Factor, 
      OrderNum, TM)
    values (#{id,jdbcType=CHAR}, #{enterpriseid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{factor,jdbcType=VARCHAR}, 
      #{ordernum,jdbcType=INTEGER}, #{tm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fourfaith.sysManage.model.SysUserFactor" >
    insert into SysUserFactor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="enterpriseid != null" >
        EnterpriseId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="factor != null" >
        Factor,
      </if>
      <if test="ordernum != null" >
        OrderNum,
      </if>
      <if test="tm != null" >
        TM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="enterpriseid != null" >
        #{EnterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="factor != null" >
        #{factor,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="tm != null" >
        #{tm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fourfaith.sysManage.model.SysUserFactor" >
    update SysUserFactor
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseid != null" >
        EnterpriseId = #{enterpriseid,jdbcType=VARCHAR},
      </if>
      <if test="factor != null" >
        Factor = #{factor,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        OrderNum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="tm != null" >
        TM = #{tm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fourfaith.sysManage.model.SysUserFactor" >
    update SysUserFactor
    set UserId = #{userid,jdbcType=VARCHAR},
      EnterpriseId = #{enterpriseid,jdbcType=VARCHAR},
      Factor = #{factor,jdbcType=VARCHAR},
      OrderNum = #{ordernum,jdbcType=INTEGER},
      TM = #{tm,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=CHAR}
  </update>
  
  	<delete id="deleteByUserId" parameterType="java.lang.String">
		delete from SysUserFactor
		where userId = #{userid,jdbcType=VARCHAR}
	</delete>
	
	<select id="getList" resultMap="BaseResultMap" parameterType="map">
		SELECT *
		FROM SysUserFactor
		where 1=1
		<if test="userid != null">
			AND userId = #{userid,jdbcType=VARCHAR}
		</if>
		<if test="enterpriseid != null">
			AND EnterpriseId = #{enterpriseid,jdbcType=VARCHAR}
		</if>
		order by orderNum asc
	</select>
	
	<delete id="delete" parameterType="map">
		delete from SysUserFactor
		where 1=1
		<if test="userid != null">
			AND userId = #{userid,jdbcType=VARCHAR}
		</if>
		<if test="enterpriseid != null">
			AND EnterpriseId = #{enterpriseid,jdbcType=VARCHAR}
		</if>
		<if test="factorList != null and factorList.size()>0">
			AND Factor in
			<foreach collection="factorList" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</delete>
</mapper>